%link{:type => "text/css", :rel => "stylesheet", :href => "http://yui.yahooapis.com/pure/0.5.0/pure-min.css"}
%link{:type => "text/css", :rel => "stylesheet", :href => "http://purecss.io/combo/1.16.5?/css/main-grid.css&/css/main.css&/css/grids.css&/css/rainbow/baby-blue.css"}
%link{:type => "text/css", :rel => "stylesheet", :href => "style.css"}

%head
	%title rPowerPoint
%body
	.wrapper
		.badge.left BETA
		.header
			%h1 rPowerPoint
			%h2 Generate PowerPoint from CSV file.
		#center-form
			%form{ :action => '/', :method => "post",:enctype=>'multipart/form-data',:class=>'pure-form pure-form-aligned'}
				%fieldset
					.pure-control-group
						.fileUpload
							%span Template
							%input.upload{:type => "file", :name => "template"}  
					.pure-control-group
						.fileUpload
							%span Mapping File
							%input.upload{:type => "file", :name => "mapping"}  
					.pure-control-group
						.fileUpload
							%span Data Source
							%input.upload{:type => "file", :name => "datasource"}  
					.pure-control-group
						%label Output File Name:
						%input{:type => "text",:required => true, :name => "outputName",:placeholder=>"Required"}
					.pure-controls	
						%button.pure-button.pure-button-primary{ :type => "submit" } Submit


