%link{:type => "text/css", :rel => "stylesheet", :href => "http://yui.yahooapis.com/pure/0.5.0/pure-min.css"}
%link{:type => "text/css", :rel => "stylesheet", :href => "http://purecss.io/combo/1.16.5?/css/main-grid.css&/css/main.css&/css/grids.css&/css/rainbow/baby-blue.css"}
%link{:type => "text/css", :rel => "stylesheet", :href => "style.css"}

%head
	%title rPowerPoint
%body
	.wrapper
		.badge.left BETA
		.header
			%h1 rPowerPoint
			%h2 Generate PowerPoint from CSV file.
		#center-text
			%h3 Thank you for using rPowerPoint!  
			%information.head Download it here!
			%br
			%information.head If you have any question, please shoot me an email.
			%br
			%information.head My email address is: haozheng4@acm.org
